{% extends 'base.html.twig' %}

{% block body %}
    <h1>My First Map Project</h1>
    <input id="lat" type="hidden" value="{{ lat }}"/>
    <input id="long" type="hidden" value="{{ long }}"/>
    <div id="googleMap" style="width:100%;height:400px;"></div>
{% endblock %}
